@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/Images/universum.jpg" class="img-responsive" />
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Profesorët e Kolegjit Universum ligjërojnë në Universitet partnere të programit Erasmus+</h3>
        <p>
            Kolegji Universum që nga viti 2005 është njohur si një prej institucioneve të arsimit të lartë më të ndërkombërtarizuara në Kosovë. Me qindra studentë kanë qenë pjesë e projekteve të ndryshme, shkollave verore, punëtorive ndërkombëtare si dhe shkëmbimeve semestrale. Vitin e fundit është shënuar një instesifikim i ndjeshëm në këtë drejtim duke nënshkruar mbi...
        </p>
        <p><a class="btn btn-default" href="http://universum-ks.org/profesoret-e-kolegjit-universum-ligjerojne-ne-universitet-partnere-te-programit-erasmus/" target="_blank">Me shume &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Hapet Thirrja për Shkëmbim Semestral në Istanbul të Turqisë</h3>
        <p>Kolegji Universum hap thirrjen për aplikime për bursa studimi  për të realizuar shkëmbimin studentor në Kadir Has University në Istanbul të Turqisë,  në kuadër të programit Erasmus+ Credit Mobility të Komisionit Europian.

Ftojmë të gjithë studentët e nivelit Bachelor dhe Master në programet/departamentet Biznes dhe Menaxhment, Shkenca Politike, Gjuhë Angleze dhe Shkenca Kompjuterike të aplikojnë. </p>
        <p><a class="btn btn-default" href="http://universum-ks.org/hapet-thirrja-per-shkembim-semestral-ne-istanbul-te-turqise/" target="_blank">Me shume &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Studentët Kosovarë Bëhen Pjesë e Iniciativës Botërore Red My Lips</h3>
        <p>#RedMyLips është kampanjë botërore.Kjo ditë që nga 2014 shënohet edhe në Kosovë nga studentët dhe stafi i Kolegjit Universum në kampusin e Prishtinës, Gjakovës dhe Ferizaj.

Red My Lips ka filluar të shënohet si ditë që nga 2012 nga themeluesja Danielle Stavina.Organizata është themeluar në vitin 2012 dhe Kolegji Universum mbështet kampanjën e saj që nga viti 2014. Deri tani rreth 500.000 njerëz ndjekin aktivitetet e saj...</p>
        <p><a class="btn btn-default" href="http://universum-ks.org/studentet-kosovare-behen-pjese-e-iniciatives-boterore-red-lips/" target="_blank">Me shume &raquo;</a></p>
    </div>
</div>